.navbar {
  box-shadow: 0 5px 6px #00000022;
  height: 50px;
  margin-bottom: 20px;
}
.navbar ul{
  display: flex;
  flex-direction: row;
}

.navbar li {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
  color: red;

  }
}

